@import '../typography';

.font-DS-60 {
  @include font('DS-60');
}

.font-DS-80 {
  @include font('DS-80');
}

.font-DS-100 {
  @include font('DS-100');
}

.font-DS-200 {
  @include font('DS-200');
}

.font-DS-300 {
  @include font('DS-300');
}

.font-DS-400 {
  @include font('DS-400');
}

.font-DS-500 {
  @include font('DS-500');
}

.font-DS-600 {
  @include font('DS-600');
}

.font-DS-700 {
  @include font('DS-700');
}

.font-DS-800 {
  @include font('DS-800');
}