@import './colors';
@import './spacing';
@import './deprecated_spacing';

$default-border-radius: 2px;

/* FONTS */
$font-primary: 'Source Sans Pro', sans-serif;
$font-secondary: 'Charter', serif;

/* WIDTH */
$max-width: 1152px;
$max-width-paragraph-mobile: 100%;
$max-width-paragraph-tablet: 640px;
$max-width-paragraph-desktop: 802px;

/* MEDIA QUERIES */
// If no media queries redefine specificly for the project then we use default one
$break-mobile: 460px !default;
$break-tablet: 768px !default;
$break-desktop: 1280px !default;
$break-desktop-wide: 1440px !default;

/* TIMING */
$time-s: 150ms;

/* RANGE INPUT */
$range-height: $sp-l;
$shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
$range-thumb-size: $sp-l;
$range-thumb-height: $sp-l;
$range-bar-height: 6px;
$range-thumb-border: 2px;
$activeColor: getShade($secondary-color, 110);
$disabledColor: getShade($quaternary-color, 60);
$range-thumb-inner-bullet-size : calc($range-thumb-size / 2);
$range-thumb-tot-size: $range-thumb-size + $range-thumb-border + $range-thumb-border;
//visualy, includes the border size
$steps-size: 20px;
$steps-border-size: 2px;
