@import './colors';
@import './variables';
@import "./typography";
$button-inset-padding: 16px;
$button-transition: all $time-s ease-in-out;

@mixin btn-ripple($ripple-color: $white, $blend-mode: normal, $opacity: 0.2) {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: radial-gradient(circle, $ripple-color 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    mix-blend-mode: $blend-mode;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform 0.3s, opacity 0.8s;
  }

  &:active {
    &::after {
      transform: scale(0, 0);
      opacity: $opacity;
      transition: 0s;
    }
  }
}

.btn {
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: $sp-s $inline-l;
  border: 0;
  border-radius: 2px;
  outline: 0;
  background-color: transparent;
  font-family: $font-primary;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  &:hover {
    cursor: pointer;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border: 2px solid transparent;
    transition: border-color .3s ease-in-out;
  }
}

.btn--primary {
  @include btn-ripple;

  background-color: getShade($secondary-color, 110);
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.12), 0px 0px 4px rgba(0, 0, 0, 0.24);
  color: $white;
  transition: 
    background-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out,
    color 0.3s ease-in-out;

  &:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  }

  &:focus {
    box-shadow: 0px 0px 14px getShade($secondary-color, 110), 0px 0px 1px getShade($secondary-color, 110);
  }

  &:active {
    background-color: getShade($secondary-color, 110);
  }

  &[disabled],
  &.btn--disabled {
    background: getShade($neutral-gray, 50);
    box-shadow: none;
    color: getShade($neutral-gray, 90);

    &:after {
      display: none;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: getShade($neutral-gray, 50);
      cursor: default;
      box-shadow: none;
      transform: none;
    }
  }
}

.btn--secondary {
  @include btn-ripple;
  color: getShade($secondary-color, 110);
  transition: 
    background-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out,
    color 0.3s ease-in-out;

  &:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    background-color: getShade($secondary-color, 110);
    color: $white;
  }

  &:focus {
    box-shadow: 0px 0px 14px getShade($secondary-color, 110), 0px 0px 1px getShade($secondary-color, 110);
    background-color: getShade($secondary-color, 110);
    color: $white;
  }

  &:active {
    background-color: getShade($secondary-color, 110);
  }

  &::before {
    border-color: getShade($secondary-color, 110);
  }
  
  &.btn--dark-background {
    color: $white;

    &:hover,
    &:focus {
      &::before {
        border-color: getShade($secondary-color, 110);
      }
    }

    &::before {
      border-color: $white;
    }
  }

  &[disabled],
  &.btn--disabled {
    color: getShade($neutral-gray, 70);
    box-shadow: none;

    &::after {
      display: none;
    }
    
    &::before {
      border-color: getShade($neutral-gray, 60);
    }

    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
      cursor: default;
      box-shadow: none;
      transform: none;
    }

    &.btn--dark-background {
      color: getShade($neutral-gray, 60);
    }
  }
}

.btn--tertiary {
  @include btn-ripple(getShade($secondary-color, 80), multiply, 0.4);

  background-color: getShade($secondary-color, 70);
  color: getShade($secondary-color, 110);
  transition: 
    background-color 0.3s ease-in-out,
    padding 0.3s ease-in-out;

  &:hover {
    background-color: transparent;

    &::before {
      border-color: getShade($secondary-color, 110);
    }
  }

  &:focus {
    background-color: transparent;
    &::before {
      border-color: getShade($secondary-color, 110);
    }
  }

  &:active {
    background-color: getShade($secondary-color, 70);
    &::before {
      border-color: transparent;
    }
  }

  &.btn--dark-background {
    background-color: rgba(white, 0.2);
    color: white;

    &:hover,
    &:focus {
      &::before {
        border-color: $white;
      }
    }
  }

  &[disabled],
  &.btn--disabled {
    background-color: getShade($neutral-gray, 40);
    color: getShade($neutral-gray, 70);
    box-shadow: none;

    &::after {
      display: none;
    }

    &::before {
      border-color: transparent;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: getShade($neutral-gray, 40);
      cursor: default;
      box-shadow: none;
      transform: none;

      &::before {
        border-color: transparent;
      }
    }

    &.btn--dark-background {
      background-color: rgba(120, 143, 171, 0.7);
    }
  }
}

.btn--flat {
  position: relative;
  background-color: $white;
  color: $quaternary-color;
  font-family: $font-primary;
  font-size: 18px;
  line-height: 28px;
  transition: $button-transition;
  width: auto;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: calc(100% - #{2 * $button-inset-padding});
    margin: auto;
    border-bottom: 4px solid;
    border-color: transparent;
    transition: $button-transition;
  }
  &:hover {
    color: getShade($secondary-color, 110);
  }
  &:hover:after {
    border-color: getShade($secondary-color, 110);
  }
}

.btn--flat-active, .btn--flat--hover {
  color: getShade($secondary-color, 110);
  &:after {
    border-color: getShade($secondary-color, 110);
  }
}

.btn--flat--compact {
  font-size: 21px;
  line-height: 33px;
  padding: $sp-xs;

  &:after {
    width: calc(100% - #{2 * $sp-xs});
  }

}

.btn--flat--responsive {
  &:after {
    bottom: 12px;
  }
  @media (min-width: $break-desktop) {
    &:after {
      bottom: 0;
    }
  }
}

.btn--ghost {
  font-size: 16px;
  padding: 0 $inline-m;
  color: getShade($secondary-color, 110);
  transition: $button-transition;
  height: 52px;

  &::before {
    border-color: getShade($secondary-color, 110);
  }

  &:hover {
    transform: translateY(-1px);
    @media (min-width: $break-tablet) {
      border-color: getShade($secondary-color, 110);
      background-color: getShade($secondary-color, 110);
    }
  }

  @media (min-width: $break-tablet) {
    background: getShade($secondary-color, 110);
    color: $white;
    font-size: 18px;
  }

  &--white {
    background-color: transparent;
    color: $white;
    
    &:hover {
      border-color: $white;
      background-color: inherit;
    }

    &::before {
      border-color: $white;
    }
  }
}

@keyframes bounceBack {
  from {
    bottom: 20px;
  }
  50% {
    bottom: 10px;
  }
  to {
    bottom: 20px;
  }
}
