$labelHeight: 18px;
$iconDimension: 24px;
$innerIconDimension: 18px;
$inputLeftPadding: $inline-s;
$inputBackground: $secondary-bg;
$inputPaddingTop: $labelHeight + $stack-xs;
$focusedLabelTop: 5px;

.field {
  $f: &;
  position: relative;
  margin-bottom: $labelHeight + $stack-s;
  width: 100%;

  &:after {
    content: "";
    position: absolute;
    right: $inline-s;
    bottom: $stack-m;
    display: block;
    width: $iconDimension;
    height: $iconDimension;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    z-index: 1;
  }

  &--minimal {
    margin-bottom: 0;
  }

  &--hasIcon {
    padding-left: $iconDimension + $inline-m;

    &--right {
      padding-left: $inline-xs;
    }
  }

  &--empty {
    &:not(#{$f}--active):after {
      background-image: url('~homeday-blocks/src/assets/input-icons/ic-error.svg');
      border-radius: 100%;
    }
  }

  &--valid:not(#{$f}--disabled):not(#{$f}--select):not(#{$f}--double) {
    &:after {
      background-image: url('~homeday-blocks/src/assets/input-icons/ic-checkmark.svg');
      border-radius: 100%;
    }
  }

  &--textarea {
    // Icons is differently positioned for textarea
    &:after {
      content: "";
      top: $stack-m;
      bottom: initial;
      top: $labelHeight;
    }
    // Fake top padding
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: $labelHeight + $stack-s;
      background: $inputBackground;
      display: block;
      z-index: 1;
      pointer-events: none;
    }

    &#{$f}--hasIcon:before {
      left: $iconDimension + $inline-m;
    }
  }

  &--disabled {
    &, &:hover{
      color: getShade($quaternary-color, 70);
    }
  }

  &__icon {
    width: $iconDimension;
    height: $iconDimension;
    pointer-events: none;
    display: block;

    position: absolute;
    left: 0;
    bottom: $stack-m;

    #{$f}--textarea & {
      top: $stack-m;
    }

    #{$f}--minimal &  {
      bottom: 8px;
    }

    &--right {
      right: $inline-s;
      left: auto;
    }

    img {
      width: 100%;
      height: 100%;
      max-width: 100%;
    }
  }

  &__label {
    font-size: 18px;
    line-height: 28px;
    position: absolute;
    margin-left: $inputLeftPadding;
    top: $inputPaddingTop;
    color: $quaternary-color;
    transition: all 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    z-index: 9;
    pointer-events: none;

    #{$f}--filled &, #{$f}--active &, #{$f}--select &, #{$f}--double &, #{$f}__input:-webkit-autofill + & {
      font-size: 14px;
      line-height: 18px;
      top: $focusedLabelTop;
    }

    #{$f}--active & {
      color: getShade($secondary-color, 110);
    }

    #{$f}--empty &, #{$f}--invalid:not(#{$f}--active) & {
      color: $error-color;
    }

    #{$f}:not(#{$f}--disabled):hover & {
      color: getShade($secondary-color, 110);
    }

    #{$f}--textarea & {
      top: $inputPaddingTop;
    }

    #{$f}--textarea#{$f}--filled &, #{$f}--textarea#{$f}--active &{
      top: $focusedLabelTop;
      bottom: initial;
    }

    #{$f}--required & {
      &:after {
        content: "*";
      }
    }

    #{$f}--disabled & {
      color: getShade($quaternary-color, 70);
    }
  }

  &__error-clear {
    position: absolute;
    right: $inline-s;
    bottom: $stack-m;
    display: block;
    width: $iconDimension;
    height: $iconDimension;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('~homeday-blocks/src/assets/input-icons/ic-invalid--transparent.svg');
    border-radius: 100%;
    z-index: 10;
    cursor: pointer;

    &:hover {
      background-image: url('~homeday-blocks/src/assets/input-icons/ic-invalid--filled.svg');
    }
  }

  &__error {
    @include font('text-xxsmall');
    margin: 0;
    position: absolute;
    top: calc(100% + #{$inline-xs});
    margin-left: $inputLeftPadding;
    color: $error-color;
    display: none;

    #{$f}--empty &, #{$f}--invalid & {
      display: block;
    }

    #{$f}--active & {
      color: getShade($quaternary-color, 80);
    }
  }

  &__validation-loading {
    position: absolute;
    z-index: 1;
    width: $iconDimension;
    height: $iconDimension;
    right: $inline-s;
    top: 0;
    bottom: 0;
    margin: auto;
    display: none;

    #{$f}--validating & {
      display: block;
    }
  }

  &__border {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    border: 1px solid getShade($quaternary-color, 60);
    z-index: 1;
    transition: all 200ms ease;

    #{$f}--hasIcon & {
      width: calc(100% - #{$iconDimension + $inline-m});
    }

    #{$f}--hasIcon--right & {
      width: calc(100% - #{$inline-xs});
    }

    #{$f}:hover & {
      border-color: getShade($quaternary-color, 80);
    }


    &:after, &:before {
      content: "";
      position: absolute;
      bottom: -1px;
      height: 2px;
      background: getShade($quaternary-color, 60);
      width: 0;
      transition: all 200ms ease;

      #{$f}--active & {
        background: getShade($secondary-color, 110);
        width: calc(50% + 1px);
      }

      #{$f}--empty &, #{$f}--invalid:not(#{$f}--active) & {
        width: calc(50% + 1px);
        background: $error-color;
      }
    }
    &:before {
      right: 50%;
    }
    &:after {
      left: 50%;
    }

    #{$f}--disabled & {
      border-style: dashed;
      border-color: getShade($quaternary-color, 80);
    }
  }

  &__input {
    font-family: $font-primary;
    font-size: 18px;
    line-height: 28px;
    color: $primary-color;
    border: none;
    outline: none;
    border-radius: $default-border-radius;

    padding-top: $inputPaddingTop;
    padding-left: $inputLeftPadding;
    padding-right: $inline-s;
    padding-bottom: $stack-s - $stack-xxs;
    -webkit-appearance: none;

    background: $inputBackground;
    display: block;
    width: 100%;

    overflow: hidden;

    #{$f}--select & {
      padding-right: $inline-l;
    }

    #{$f}--hasControl &[type="email"],
    #{$f}--hasControl &[type="number"],
    #{$f}--hasControl &[type="text"],
    #{$f}--hasControl &[type="password"],
    #{$f}--hasControl &[type="date"],
    #{$f}--hasControl &[type="url"] {
      padding-right: $inline-m + $iconDimension;
    }

    #{$f}--minimal & {
      padding-top: $stack-s;
    }

    #{$f}--double & {
      width: calc(50% - 8px);
      position: relative;
      padding-right: $inline-xs;

      &:nth-child(2) {
        padding-right: $inline-s;
      }
    }
    &::-ms-expand {
      display: none;
    }
    &:required {
      box-shadow: none;
    }
    &::-ms-clear {
      display: none;
    }
    &::-ms-reveal {
      display: none;
    }

    #{$f}--disabled & {
      color: getShade($quaternary-color, 70);
    }

    &::placeholder {
      color: getShade($quaternary-color, 80);
      opacity: 0.5;
    }
  }

  &__tooltip {
    position: absolute;
    font-size: 0;
    border: none;
    width: $iconDimension;
    height: $iconDimension;
    right: $inline-s;
    bottom: $stack-m;
    background-color: transparent;
    background-image: url('~homeday-blocks/src/assets/input-icons/ic-tooltip_info--transparent.svg');
    background-position: center;
    background-repeat: no-repeat;

    &:hover {
      cursor: pointer;
      background-image: url('~homeday-blocks/src/assets/input-icons/ic-tooltip_info--filled.svg');
    }

    &--question {
      background-image: url('~homeday-blocks/src/assets/input-icons/ic-tooltip_question--transparent.svg');

      &:hover {
        background-image: url('~homeday-blocks/src/assets/input-icons/ic-tooltip_question--filled.svg');
      }
    }
    &:focus {
      outline: none;
    }
    #{$f}--invalid &, #{$f}--filled & {
      display: none;
    }

    #{$f}--textarea & {
      top: $stack-m;
    }
  }

  &__reset {
    display: none;
    border: none;
    position: absolute;
    background-color: transparent;
    background-image: url('~homeday-blocks/src/assets/input-icons/ic-input--reset.svg');
    width: 24px;
    height: 24px;
    top: 0;
    bottom: 0;
    margin: auto;
    right: $inline-s;
    z-index: 99;
    cursor: pointer;

    #{$f}--filled#{$f}--active & {
      display: block;
    }

    #{$f}--filled &:hover, #{$f}--filled &:focus {
      display: block;
    }
  }

  &--select {
    &:after {
      background-image: url('~homeday-blocks/src/assets/input-icons/ic-arrow_down.svg');
    }
  }

  &__double-input {
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius: 2px;
    background: $inputBackground;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      width: 16px;
      height: 100%;
      z-index: 2;
      background: $inputBackground;
      left: calc(50% - 8px);
    }

    &:after {
      content: "";
      position: absolute;
      width: 8px;
      height: 2px;
      background-color: getShade($quaternary-color, 80);
      left: calc(50% - 4px);
      bottom: 20px;
      z-index: 3;
    }
  }

  input[type="number"] {
    -moz-appearance:textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
