@import './_colors';
@import './_variables';
@import './typography';
@import './fonts';
@import './elevation';


@mixin only-ie {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      @content;
  }
}

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}
