@import './_variables';
@import './deprecated_font';

@function rem-calc($size) {
  $remSize: $size / 16;
  @return #{$remSize}rem;
}

@mixin font($style) {
  @if ($style == "DS-60") {
    font-size: rem-calc(12);
    line-height: 1.5;
  }
  @else if ($style == "DS-80") {
    font-size: rem-calc(12);
    line-height: 1.334;
  }
  @else if ($style == "DS-90") {
    font-size: rem-calc(14);
    line-height: 1.5;
  }
  @else if ($style == "DS-100") {
    font-size: rem-calc(16);
    line-height: 1.5;
  }
  @else if ($style == "DS-200") {
    font-size: rem-calc(20);
    line-height: 1.6;
  }
  @else if ($style == "DS-300") {
    font-size: rem-calc(24);
    line-height: 1.334;
  }
  @else if ($style == "DS-400") {
    font-size: rem-calc(32);
    line-height: 1.25;
  }
  @else if ($style == "DS-500") {
    font-size: rem-calc(40);
    line-height: 1.2;
  }
  @else if ($style == "DS-600") {
    font-size: rem-calc(48);
    line-height: 1.1667;
  }
  @else if ($style == "DS-700") {
    font-size: rem-calc(64);
    line-height: 1.125;
  }
  @else if ($style == "DS-800") {
    font-size: rem-calc(76);
    line-height: 1.157;
  }
  @else {
    @include deprecated_font($style);
  }
}

@mixin hd-typography() {
  font-family: $font-primary;

  p {
    @include font('DS-100');
  }

  h1 {
    @include font('DS-300');
    font-weight: 900;

    @media (min-width: $break-tablet) {
      @include font('DS-500');
    }

    @media (min-width: $break-desktop) {
      @include font('DS-600');
    }
  }

  h2 {
    @include font('DS-300');
    font-weight: bold;

    @media (min-width: $break-tablet) {
      @include font('DS-400');
      font-weight: 900;
    }
  }

  h3 {
    @include font('DS-200');
    font-weight: bold;
  }

  h4 {
    @include font('DS-100');
    font-weight: bold;
  }

  h5 {
    @include font('DS-100');
    font-weight: 600;
  }
}
