@import './mixins';

:export {
  breakMobile : strip-unit($break-mobile);
  breakTablet : strip-unit($break-tablet);
  breakDesktop : strip-unit($break-desktop);
  breakDesktopWide : strip-unit($break-desktop-wide);
}